.homepage{
    box-shadow: 2px 1px 4px 3px rgba(0,0,0,0.4);
    width: 97% !important;
    border-radius: 5px;
    padding-top: 10px;
    
    .input{
        margin: 20px 0px;
        padding: 15px;
        box-shadow: 2px 1px 4px 3px rgba(0,0,0,0.2);

        .names{
            width: 100%;
            margin: 15px 0px;
        }
    }
}
